<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Sinatra App</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <h1>Yay Sinatra</h1>
</body>
</html>